{% extends "base.html" %}
{% block body %}
<div class="min-h-screen flex items-center justify-center bg-slate-50 p-6">
  <div class="{% block auth_card_class %}w-full max-w-md card p-6{% endblock %}">
    <div class="mb-6 flex justify-center">
      <img
        src="{{ static_asset('/static/img/IAGenMultibuss.png') }}"
        alt="IAGen Multibuss"
        class="h-16 w-16 object-contain"
        width="64"
        height="64"
      >
    </div>
    {% block content %}{% endblock %}
  </div>
</div>
{% endblock %}
